body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------------------------------------------- */

/* ------------------ Header  ------------------------- */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.heder-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.heder-logo-studio {
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.heder-menu-list {
  display: flex;
  gap: 40px;
}

.heder-menu-item {
}

.heder-menu-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: rgba(46, 47, 66, 1);
  padding: 24px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #404bbf;
}

.current::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.heder-menu-link:hover,
.heder-menu-link:focus {
  color: #404bbf;
}

.header-navigation-address {
  font-style: normal;
  margin-left: auto;
}

.header-navigation-list {
  display: flex;
  gap: 40px;
}

.header-navigation-item {
}

.header-navigation-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 24px;
  padding-bottom: 24px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation-link:hover,
.header-navigation-link:focus {
  color: #404bbf;
}

/* -------------------------------------------------------------------- */

/* --------------------- Hero Section --------------------------------- */

.hero-section {
  background-color: #2e2f42;
  padding: 188px 0;
  margin: 0 auto;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;

  background: #4d5ae5;
  cursor: pointer;
  display: block;
  border-radius: 4px;
  border: none;

  min-width: 169px;
  height: 56px;
  margin: auto;
  padding: 16px 32px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}

/* ---------------------------------------------------------------- */

/* --------------------- Section Possibilities -------------------- */

.section-possibilities {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list-of-possibilities {
  display: flex;
  gap: 24px;
}

.possibilities-item {
  width: calc((100% - 72px) / 4);
}

.possibilities-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(142, 143, 153, 1);
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: rgba(244, 244, 253, 1);
  margin-bottom: 8px;
}

.possibilities-icon {
}

.possibilities-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.possibilities-item-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ------------------------------------------------------- */

/* --------------------- Section Team -------------------- */

.section-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-container {
  padding: 0;
}

.team-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 428px;
}

.team-img {
}

.team-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-name-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-function {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-left: 16px;
  padding-right: 16px;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(77, 90, 229, 1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.icon-team {
  fill: rgba(244, 244, 253, 1);
}

/* --------------------------------------------------------  */

/* --------------------- Section Portfolio ------------------- */

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-img-text {
  transform: translate(0);
}

.portfolio-item-container {
  padding: 0;
  position: relative;
  overflow: hidden;
}

.portfolio-img {
}

.portfolio-img-text {
  position: absolute;
  background: rgba(77, 90, 229, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: rgba(244, 244, 253, 1);
  top: 0;
  left: 0;
  padding: 40px 32px;
  height: 100%;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-portfolio-item {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-services {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}

/* --------------------------------------------------------  */

/* --------------------- Section Footer ------------------- */

.section-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-nav-container {
  margin-right: 120px;
}

.footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-studio {
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  display: inline-block;
}

.footer-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.social-media-container {
}

.social-media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 16px;
}

.social-media-list {
  display: flex;
  gap: 16px;
}

.social-icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(77, 90, 229, 1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: rgba(49, 208, 170, 1);
}

.social-media-item {
  width: 40px;
  height: 40px;
}

.social-media-icon {
  fill: rgba(244, 244, 253, 1);
}

/* ---------------------------------------------------------------*/

/* ----------------- Modal Overlay -------------------------------*/

.modal-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
}

.modal {
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: rgba(252, 252, 252, 1);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 24px;
}

.modal-closed-btn {
  width: 24px;
  height: 24px;
  display: block;
  margin-left: auto;
  border-radius: 100%;
}

.modal-icon-btn {
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgba(46, 47, 66, 1);
  max-width: 360px;
  margin-top: 24px;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  margin-bottom: 18px;
}

.modal-icon {
}
